In [41]:
import numpy as np
import os
import pandas as pd

# Import the required ArcGIS API for Python modules
import arcgis
from arcgis.gis import GIS
gis = arcgis.GIS()
from arcgis.geoanalytics import manage_data

from IPython.display import display, Markdown

In [42]:
dirWork         = os.getcwd()
dirInput        = os.path.join(dirWork, r'input'              )
dirIntermediate = os.path.join(dirWork, r'intermediate'       )
dirParams       = os.path.join(dirWork, r'params'             )
dirWebApp       = os.path.join(dirWork, r'results_webapp_data')                             
   

sdfForecastsPrevious = pd.DataFrame.spatial.from_featureclass(os.path.join(dirInput,r"WFRCForecasts_2019RTP_v831_20200508\WFRCForecasts_2019RTP_v831_20200508.shp"))

#also includes AADT
sdfMasterSegswithFactors =  pd.DataFrame.spatial.from_featureclass(os.path.join(dirInput, r'Master_Segs_withFactors_20211119\Master_Segs_withFactors_20211119.shp'))
dfNewGeos = sdfMasterSegswithFactors[['SEGID','FACGEO','CCSGROUP19']]
dfNewAADT = sdfMasterSegswithFactors[['SEGID','AADT2018','AADT2019']]

dfWFForecasts = pd.read_csv(os.path.join(dirIntermediate, r'WFRCForecasts_v832v2.csv'))

In [43]:
sdfMasterSegswithFactors.columns

Index(['FID', 'Id', 'SEGID', 'BMP', 'EMP', 'DISTANCE', 'FULLNAME', 'FNCLASS',
       'FC_CODE', 'FC_GROUP', 'FC_NAME', 'CO_FIPS', 'CO_NAME', 'PLANAREA', 'X',
       'Y', 'ONLRS', 'T_MODEL', 'USE', 'RT_NUM', 'AADT2019', 'AADT2018',
       'AADT2017', 'AADT2016', 'AADT2015', 'AADT2014', 'AADT2013', 'AADT2012',
       'AADT2011', 'AADT2010', 'AADT2009', 'AADT2008', 'AADT2007', 'AADT2006',
       'AADT2005', 'AADT2004', 'AADT2003', 'AADT2002', 'AADT2001', 'AADT2000',
       'AADT1999', 'AADT1998', 'AADT1997', 'AADT1996', 'AADT1994', 'AADT1993',
       'AADT1992', 'AADT1991', 'AADT1990', 'AADT1989', 'AADT1988', 'AADT1987',
       'AADT1986', 'AADT1985', 'AADT1984', 'AADT1983', 'AADT1982', 'AADT1981',
       'FACGEO', 'CCSGROUP19', 'FAC_MON', 'FAC_TUE', 'FAC_WED', 'FAC_THU',
       'FAC_FRI', 'FAC_SAT', 'FAC_SUN', 'FAC_WDAVG', 'FAC_WEAVG', 'FAC_WEMAX',
       'FAC_JAN', 'FAC_FEB', 'FAC_MAR', 'FAC_APR', 'FAC_MAY', 'FAC_JUN',
       'FAC_JUL', 'FAC_AUG', 'FAC_SEP', 'FAC_OCT', 'FAC_NOV', 'FAC_DEC',
       'FAC_WIN', 'FAC_SPR', 'FAC_SUM', 'FAC_FAL', 'FAC_MAXMO', 'FAC_MAX',
       'FACMANADJ', 'SUTRUCKS', 'CUTRUCKS', 'SHAPE'],
      dtype='object')

In [44]:
#intermediate output
#dfFactors = pd.read_csv(os.path.join(dirIntermediate,'CCS_Factors.csv'))
#dfSegFac  = pd.read_csv(os.path.join(dirIntermediate, 'SegmentsMatchedToFactorGroups.csv'))
#dfSegFacWithTrk = pd.read_csv(os.path.join(dirIntermediate, r'SegmentTruckFactors.csv'))
#sdfSegments = pd.DataFrame.spatial.from_featureclass(os.path.join(dirWork,  r"arcgis\UDOT-Segments.gdb\Master_Segs_20210811"))

In [45]:
sdfForecastsPrevious.columns.values.tolist()

['FID',
 'FID_1',
 'RELEASE',
 'SEGID',
 'ROUTE_ID',
 'BMP',
 'EMP',
 'FULLNAME',
 'CO_FIPS',
 'CO_NAME',
 'X',
 'Y',
 'DISTANCE',
 'F2050',
 'F2040',
 'F2030',
 'F2024',
 'F2019',
 'CH17TO50',
 'CH40TO50',
 'CH30TO40',
 'CH24TO30',
 'CH19TO24',
 'CH15TO19',
 'CH17TO19',
 'FNOTES',
 'MOREINFO',
 'WFRC_FLG',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'SUTRK2017',
 'CUTRK2017',
 'DOWFACFC',
 'DOWFACAT',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'SSNGRP',
 'SSNVOLCLS',
 'SSNATGROUP',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'PLANAREA',
 'Shape_Leng',
 'SHAPE_Le_1',
 'SHAPE']

In [46]:
dfWFForecasts = dfWFForecasts.fillna("")
dfWFForecasts = dfWFForecasts.drop(columns=('CO_FIPS'))
dfWFForecasts

,SEGID,F2019,F2024,F2030,F2040,F2050,CH19TO24,CH24TO30,CH30TO40,CH40TO50,CH19TO50,FNOTES
0,0006_146.9,1517,1700,1700,1800,2000,183,0,100,200,483,
1,0006_149.9,2441,2700,2800,3400,4300,259,100,600,900,1859,
2,0006_150.6,2441,2700,2800,3500,4300,259,100,700,800,1859,
3,0006_152.6,2417,2800,2900,3400,4600,383,100,500,1200,2183,
4,0006_152.9,3759,4200,4300,5200,6600,441,100,900,1400,2841,
...,...,...,...,...,...,...,...,...,...,...,...,...
4099,WFRC_8217,0,0,0,0,0,0,0,0,0,0,
4100,WFRC_8219,0,0,2000,2000,2000,0,2000,0,0,2000,
4101,WFRC_8221,0,1300,1600,1700,5800,1300,300,100,4100,5800,
4102,WFRC_8222,0,2300,3000,3400,8400,2300,700,400,5000,8400,
4103,WFRC_8223,0,4300,5400,6100,8000,4300,1100,700,1900,8000,

In [47]:
sdfMasterSegswithFactors.columns.values.tolist()

['FID',
 'Id',
 'SEGID',
 'BMP',
 'EMP',
 'DISTANCE',
 'FULLNAME',
 'FNCLASS',
 'FC_CODE',
 'FC_GROUP',
 'FC_NAME',
 'CO_FIPS',
 'CO_NAME',
 'PLANAREA',
 'X',
 'Y',
 'ONLRS',
 'T_MODEL',
 'USE',
 'RT_NUM',
 'AADT2019',
 'AADT2018',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'FACGEO',
 'CCSGROUP19',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'SHAPE']

In [48]:
sdfWF = sdfMasterSegswithFactors[(sdfMasterSegswithFactors['PLANAREA']=='WFRC') | (sdfMasterSegswithFactors['PLANAREA']=='MAG')].copy()
sdfWFForecasts = pd.DataFrame.merge(sdfWF, dfWFForecasts, on='SEGID', how='left')
sdfWFForecasts = sdfWFForecasts.fillna(0)
sdfWFForecasts['RELEASE'] = '2019 RTP v8.3.2 20211023'
sdfWFForecasts

,FID,Id,SEGID,BMP,EMP,DISTANCE,FULLNAME,FNCLASS,FC_CODE,FC_GROUP,...,F2030,F2040,F2050,CH19TO24,CH24TO30,CH30TO40,CH40TO50,CH19TO50,FNOTES,RELEASE
0,23,0,0006_146.9,146.868,149.902,3.039023,HWY 6,Arterial,4,Arterial,...,1700.0,1800.0,2000.0,183.0,0.0,100.0,200.0,483.0,,2019 RTP v8.3.2 20211023
1,24,0,0006_149.9,149.902,150.580,0.677983,HWY 6,Arterial,4,Arterial,...,2800.0,3400.0,4300.0,259.0,100.0,600.0,900.0,1859.0,,2019 RTP v8.3.2 20211023
2,25,0,0006_150.6,150.580,152.555,1.973104,HWY 6,Arterial,4,Arterial,...,2800.0,3500.0,4300.0,259.0,100.0,700.0,800.0,1859.0,,2019 RTP v8.3.2 20211023
3,26,0,0006_152.6,152.555,152.871,0.316275,MAIN ST,Arterial,4,Arterial,...,2900.0,3400.0,4600.0,383.0,100.0,500.0,1200.0,2183.0,,2019 RTP v8.3.2 20211023
4,27,0,0006_152.9,152.871,155.793,2.923224,HWY 6,Arterial,4,Arterial,...,4300.0,5200.0,6600.0,441.0,100.0,900.0,1400.0,2841.0,,2019 RTP v8.3.2 20211023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4194,8558,0,WFRC_8219,0.000,0.000,1.154153,,Arterial,50,Arterial,...,2000.0,2000.0,2000.0,0.0,2000.0,0.0,0.0,2000.0,,2019 RTP v8.3.2 20211023
4195,8559,0,WFRC_8220,0.000,0.000,0.192948,AIRPORT RD,Arterial,4,Arterial,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2019 RTP v8.3.2 20211023
4196,8560,0,WFRC_8221,0.000,0.000,0.442365,9400 S,Arterial,2,Arterial,...,1600.0,1700.0,5800.0,1300.0,300.0,100.0,4100.0,5800.0,,2019 RTP v8.3.2 20211023
4197,8561,0,WFRC_8222,0.000,0.000,0.442365,300 W,Arterial,5,Arterial,...,3000.0,3400.0,8400.0,2300.0,700.0,400.0,5000.0,8400.0,,2019 RTP v8.3.2 20211023
4198,8562,0,WFRC_8223,0.000,0.000,0.442365,300 W,Arterial,5,Arterial,...,5400.0,6100.0,8000.0,4300.0,1100.0,700.0,1900.0,8000.0,,2019 RTP v8.3.2 20211023

In [49]:
sdfWFForecasts.columns.values.tolist()

['FID',
 'Id',
 'SEGID',
 'BMP',
 'EMP',
 'DISTANCE',
 'FULLNAME',
 'FNCLASS',
 'FC_CODE',
 'FC_GROUP',
 'FC_NAME',
 'CO_FIPS',
 'CO_NAME',
 'PLANAREA',
 'X',
 'Y',
 'ONLRS',
 'T_MODEL',
 'USE',
 'RT_NUM',
 'AADT2019',
 'AADT2018',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'FACGEO',
 'CCSGROUP19',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'SHAPE',
 'F2019',
 'F2024',
 'F2030',
 'F2040',
 'F2050',
 'CH19TO24',
 'CH24TO30',
 'CH30TO40',
 'CH40TO50',
 'CH19TO50',
 'FNOTES',
 'RELEASE']

# Non WFRC-MAG Plan Area

In [50]:
sdfNonWF = sdfForecastsPrevious[(sdfForecastsPrevious['PLANAREA']!='WFRC') & (sdfForecastsPrevious['PLANAREA']!='MAG')].copy()
sdfNonWF

,FID,FID_1,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,...,FAC_FAL,FAC_MAXMO,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,PLANAREA,Shape_Leng,SHAPE_Le_1,SHAPE
2000,2000,2001,,2599_000.5,2599,0.457000,0.845000,SIDEWINDER DR,43,SUMMIT,...,0.931,1,1.142,0,0.023,0.005,UDOT,620.772768,818.434451,"{""paths"": [[[-12411162.427099999, 4962989.7434..."
2001,2001,2002,,1242_002.3,1242,2.305000,2.711000,1200 E,5,CACHE,...,1.022,6,1.067,0,0.036,0.026,Cache,660.291812,887.821520,"{""paths"": [[[-12446035.5269, 5128326.032300003..."
2002,2002,2003,,1268_002.0,1268,2.005000,2.508000,3100 N,5,CACHE,...,1.022,6,1.067,0,0.036,0.026,Cache,810.315695,1085.527815,"{""paths"": [[[-12444954.14, 5129222.575800002],..."
2003,2003,2004,,0023_010.1,23,10.066000,12.574000,6000 W,5,CACHE,...,1.033,8,1.092,0,0.093,0.070,UDOT,4027.100962,5412.560325,"{""paths"": [[[-12465493.5364, 5123717.594800003..."
2004,2004,2005,,2599_000.8,2599,0.845000,0.940000,WYATT EARP WAY,43,SUMMIT,...,0.931,1,1.142,0,0.023,0.005,UDOT,146.198014,193.198545,"{""paths"": [[[-12410485.9515, 4963368.133000001..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8106,8106,8107,,1003_000.0,1003,0.000000,0.000000,M&M RD,1,BEAVER,...,1.033,8,1.092,0,0.036,0.026,UDOT,6854.447483,8739.036207,"{""paths"": [[[-12574820.5408, 4610780.345600001..."
8107,8107,8108,,1122_001.0,1122,1.002000,2.003000,8400 W,3,BOX ELDER,...,1.033,8,1.092,0,0.017,0.012,UDOT,1607.473026,2158.042786,"{""paths"": [[[-12492134.8584, 5113382.925300002..."
8108,8108,8109,,2565_001.6,2565,1.550000,1.693000,LOST CREEK RD,41,SEVIER,...,1.018,9,1.044,0,0.032,0.019,UDOT,206.769560,265.622771,"{""paths"": [[[-12452334.4074, 4714317.395900004..."
8111,8111,8112,,0091_004.9,91,4.916000,5.738000,HWY 91,3,BOX ELDER,...,1.016,8,1.134,0,0.080,0.150,UDOT,1317.644787,1757.930132,"{""paths"": [[[-12464343.7741, 5086022.470100000..."
8112,8112,8113,,0050_158.04,50,158.042999,158.169998,MAIN ST,41,SEVIER,...,1.022,6,1.067,0,0.230,0.163,UDOT,155.450741,199.780900,"{""paths"": [[[-12452953.827100001, 4715564.0740..."

In [51]:
sdfNonWFwithNewAADT = pd.DataFrame.merge(sdfNonWF, dfNewAADT, on='SEGID', how='left')
sdfNonWFwithNewAADT

,FID,FID_1,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,...,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,PLANAREA,Shape_Leng,SHAPE_Le_1,SHAPE,AADT2018,AADT2019
0,2000,2001,,2599_000.5,2599,0.457000,0.845000,SIDEWINDER DR,43,SUMMIT,...,1.142,0,0.023,0.005,UDOT,620.772768,818.434451,"{'paths': [[[-12411162.427099999, 4962989.7434...",669.0,681.0
1,2001,2002,,1242_002.3,1242,2.305000,2.711000,1200 E,5,CACHE,...,1.067,0,0.036,0.026,Cache,660.291812,887.821520,"{'paths': [[[-12446035.5269, 5128326.032300003...",2797.0,2847.0
2,2002,2003,,1268_002.0,1268,2.005000,2.508000,3100 N,5,CACHE,...,1.067,0,0.036,0.026,Cache,810.315695,1085.527815,"{'paths': [[[-12444954.14, 5129222.575800002],...",594.0,605.0
3,2003,2004,,0023_010.1,23,10.066000,12.574000,6000 W,5,CACHE,...,1.092,0,0.093,0.070,UDOT,4027.100962,5412.560325,"{'paths': [[[-12465493.5364, 5123717.594800003...",1331.0,1347.0
4,2004,2005,,2599_000.8,2599,0.845000,0.940000,WYATT EARP WAY,43,SUMMIT,...,1.142,0,0.023,0.005,UDOT,146.198014,193.198545,"{'paths': [[[-12410485.9515, 4963368.133000001...",930.0,947.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3963,8106,8107,,1003_000.0,1003,0.000000,0.000000,M&M RD,1,BEAVER,...,1.092,0,0.036,0.026,UDOT,6854.447483,8739.036207,"{'paths': [[[-12574820.5408, 4610780.345600001...",361.0,365.0
3964,8107,8108,,1122_001.0,1122,1.002000,2.003000,8400 W,3,BOX ELDER,...,1.092,0,0.017,0.012,UDOT,1607.473026,2158.042786,"{'paths': [[[-12492134.8584, 5113382.925300002...",346.0,350.0
3965,8108,8109,,2565_001.6,2565,1.550000,1.693000,LOST CREEK RD,41,SEVIER,...,1.044,0,0.032,0.019,UDOT,206.769560,265.622771,"{'paths': [[[-12452334.4074, 4714317.395900004...",587.0,594.0
3966,8111,8112,,0091_004.9,91,4.916000,5.738000,HWY 91,3,BOX ELDER,...,1.134,0,0.080,0.150,UDOT,1317.644787,1757.930132,"{'paths': [[[-12464343.7741, 5086022.470100000...",21508.0,21465.0
3967,8112,8113,,0050_158.04,50,158.042999,158.169998,MAIN ST,41,SEVIER,...,1.067,0,0.230,0.163,UDOT,155.450741,199.780900,"{'paths': [[[-12452953.827100001, 4715564.0740...",8912.0,9019.0

In [52]:
#update 19 to 24 change with AADT

#replace zero forecasts with 2019 AADT if >0
#sdfNonWFwithNewAADT.loc[(sdfNonWFwithNewAADT['AADT2019']>0) & (sdfNonWFwithNewAADT['F2024']==0),'F2024'] = sdfNonWFwithNewAADT['AADT2019']
#sdfNonWFwithNewAADT.loc[(sdfNonWFwithNewAADT['AADT2019']>0) & (sdfNonWFwithNewAADT['F2030']==0),'F2030'] = sdfNonWFwithNewAADT['AADT2019']
#sdfNonWFwithNewAADT.loc[(sdfNonWFwithNewAADT['AADT2019']>0) & (sdfNonWFwithNewAADT['F2040']==0),'F2040'] = sdfNonWFwithNewAADT['AADT2019']
#sdfNonWFwithNewAADT.loc[(sdfNonWFwithNewAADT['AADT2019']>0) & (sdfNonWFwithNewAADT['F2050']==0),'F2050'] = sdfNonWFwithNewAADT['AADT2019']

sdfNonWFwithNewAADT['CH19TO24'] = sdfNonWFwithNewAADT['F2024'] - sdfNonWFwithNewAADT['AADT2019']
sdfNonWFwithNewAADT['CH19TO50'] = sdfNonWFwithNewAADT['F2050'] - sdfNonWFwithNewAADT['AADT2019']

sdfNonWFwithNewAADT[['SEGID','AADT2019','F2019','F2024','F2030','F2040','F2050','CH19TO24','CH24TO30','CH30TO40','CH40TO50','CH19TO50']]

,SEGID,AADT2019,F2019,F2024,F2030,F2040,F2050,CH19TO24,CH24TO30,CH30TO40,CH40TO50,CH19TO50
0,2599_000.5,681.0,0,0,0,0,850,-681.0,0,0,850,169.0
1,1242_002.3,2847.0,0,0,0,0,3100,-2847.0,0,0,3100,253.0
2,1268_002.0,605.0,0,0,0,0,3700,-605.0,0,0,3700,3095.0
3,0023_010.1,1347.0,0,0,0,0,3100,-1347.0,0,0,3100,1753.0
4,2599_000.8,947.0,0,0,0,0,1200,-947.0,0,0,1200,253.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3963,1003_000.0,365.0,350,350,450,550,650,-15.0,100,100,100,285.0
3964,1122_001.0,350.0,350,400,450,550,650,50.0,50,100,100,300.0
3965,2565_001.6,594.0,550,600,700,900,1100,6.0,100,200,200,506.0
3966,0091_004.9,21465.0,21500,22500,23500,25500,27500,1035.0,1000,2000,2000,6035.0
3967,0050_158.04,9019.0,8700,9500,10500,12500,14500,481.0,1000,2000,2000,5481.0

# Combine

In [53]:
sdfNewForecasts = pd.concat([sdfNonWFwithNewAADT,sdfWFForecasts])
sdfNewForecasts['ROUTE_ID'] = sdfNewForecasts['SEGID'].apply(lambda r: (r.split('_')[0]))
sdfNewForecasts = sdfNewForecasts.drop(columns=(['FID_1','FACGEO','CCSGROUP19']))

sdfNewForecasts = pd.DataFrame.merge(sdfNewForecasts,dfNewGeos,on='SEGID',how='left')

sdfNewForecasts[['FACGEO']] = sdfNewForecasts[['FACGEO']].fillna(value="")
sdfNewForecasts[['CCSGROUP19']] = sdfNewForecasts[['CCSGROUP19']].fillna(value="")
sdfNewForecasts = sdfNewForecasts.fillna(0)
sdfNewForecasts

,FID,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,X,...,FNCLASS,FC_CODE,FC_GROUP,FC_NAME,ONLRS,T_MODEL,USE,RT_NUM,FACGEO,CCSGROUP19
0,2000,,2599_000.5,2599,0.457,0.845,SIDEWINDER DR,43,SUMMIT,458687.3525,...,0,0.0,0,0,0,0,0.0,0.0,ParkCity,COK
1,2001,,1242_002.3,1242,2.305,2.711,1200 E,5,CACHE,433138.4591,...,0,0.0,0,0,0,0,0.0,0.0,Statewide,COS
2,2002,,1268_002.0,1268,2.005,2.508,3100 N,5,CACHE,433543.4052,...,0,0.0,0,0,0,0,0.0,0.0,Statewide,COS
3,2003,,0023_010.1,0023,10.066,12.574,6000 W,5,CACHE,418412.8807,...,0,0.0,0,0,0,0,0.0,0.0,Statewide,COP
4,2004,,2599_000.8,2599,0.845,0.940,WYATT EARP WAY,43,SUMMIT,458955.7006,...,0,0.0,0,0,0,0,0.0,0.0,ParkCity,COK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8162,8558,2019 RTP v8.3.2 20211023,WFRC_8219,WFRC,0.000,0.000,,11,DAVIS,420451.7462,...,Arterial,50.0,Arterial,Proposed Major Collector,No,,5.0,0.0,Statewide,COS
8163,8559,2019 RTP v8.3.2 20211023,WFRC_8220,WFRC,0.000,0.000,AIRPORT RD,35,SALT LAKE,0.0000,...,Arterial,4.0,Arterial,Minor Arterial,Yes,,1.0,2036.0,Statewide,COT
8164,8560,2019 RTP v8.3.2 20211023,WFRC_8221,WFRC,0.000,0.000,9400 S,35,SALT LAKE,424246.0003,...,Arterial,2.0,Arterial,Major Collector,Yes,,1.0,0.0,Statewide,COU
8165,8561,2019 RTP v8.3.2 20211023,WFRC_8222,WFRC,0.000,0.000,300 W,35,SALT LAKE,424246.0003,...,Arterial,5.0,Arterial,Minor Collector,Yes,,1.0,0.0,Statewide,COU
8166,8562,2019 RTP v8.3.2 20211023,WFRC_8223,WFRC,0.000,0.000,300 W,35,SALT LAKE,424246.0003,...,Arterial,5.0,Arterial,Major Collector,Yes,,1.0,0.0,Statewide,COU

In [54]:
sdfNewForecasts.columns.values.tolist()

['FID',
 'RELEASE',
 'SEGID',
 'ROUTE_ID',
 'BMP',
 'EMP',
 'FULLNAME',
 'CO_FIPS',
 'CO_NAME',
 'X',
 'Y',
 'DISTANCE',
 'F2050',
 'F2040',
 'F2030',
 'F2024',
 'F2019',
 'CH17TO50',
 'CH40TO50',
 'CH30TO40',
 'CH24TO30',
 'CH19TO24',
 'CH15TO19',
 'CH17TO19',
 'FNOTES',
 'MOREINFO',
 'WFRC_FLG',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'SUTRK2017',
 'CUTRK2017',
 'DOWFACFC',
 'DOWFACAT',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'SSNGRP',
 'SSNVOLCLS',
 'SSNATGROUP',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'PLANAREA',
 'Shape_Leng',
 'SHAPE_Le_1',
 'SHAPE',
 'AADT2018',
 'AADT2019',
 'CH19TO50',
 'Id',
 'FNCLASS',
 'FC_CODE',
 'FC_GROUP',
 'FC_NAME',
 'ONLRS',
 'T_MODEL',
 'USE',
 'RT_NUM',
 'FACGEO',
 'CCSGROUP19']

In [55]:
sdfNewForecastsFormatted = sdfNewForecasts[[
 'RELEASE',
 'SEGID',
 'ROUTE_ID',
 'BMP',
 'EMP',
 'FULLNAME',
 'CO_FIPS',
 'CO_NAME',
 'X',
 'Y',
 'DISTANCE',
 'F2050',
 'F2040',
 'F2030',
 'F2024',
 'CH40TO50',
 'CH30TO40',
 'CH24TO30',
 'CH19TO24',
 'CH19TO50',
 'FNOTES',
 'MOREINFO',
 'WFRC_FLG',
 'AADT2019',
 'AADT2018',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'FACGEO',
 'CCSGROUP19',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'PLANAREA',
 'Shape_Leng',
 'SHAPE']].copy()
sdfNewForecastsFormatted

,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,X,Y,...,FAC_SUM,FAC_FAL,FAC_MAXMO,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,PLANAREA,Shape_Leng,SHAPE
0,,2599_000.5,2599,0.457,0.845,SIDEWINDER DR,43,SUMMIT,458687.3525,4.501838e+06,...,1.0700,0.9310,1,1.1420,0,0.0230,0.0050,UDOT,620.772768,"{'paths': [[[-12411162.427099999, 4962989.7434..."
1,,1242_002.3,1242,2.305,2.711,1200 E,5,CACHE,433138.4591,4.626175e+06,...,1.0570,1.0220,6,1.0670,0,0.0360,0.0260,Cache,660.291812,"{'paths': [[[-12446035.5269, 5128326.032300003..."
2,,1268_002.0,1268,2.005,2.508,3100 N,5,CACHE,433543.4052,4.626506e+06,...,1.0570,1.0220,6,1.0670,0,0.0360,0.0260,Cache,810.315695,"{'paths': [[[-12444954.14, 5129222.575800002],..."
3,,0023_010.1,0023,10.066,12.574,6000 W,5,CACHE,418412.8807,4.624561e+06,...,1.0880,1.0330,8,1.0920,0,0.0930,0.0700,UDOT,4027.100962,"{'paths': [[[-12465493.5364, 5123717.594800003..."
4,,2599_000.8,2599,0.845,0.940,WYATT EARP WAY,43,SUMMIT,458955.7006,4.501987e+06,...,1.0700,0.9310,1,1.1420,0,0.0230,0.0050,UDOT,146.198014,"{'paths': [[[-12410485.9515, 4963368.133000001..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8162,2019 RTP v8.3.2 20211023,WFRC_8219,WFRC,0.000,0.000,,11,DAVIS,420451.7462,4.553323e+06,...,1.0575,1.0324,8,1.0724,0,0.1278,0.0879,WFRC,0.000000,"{'paths': [[[419504.53110000025, 4554272.0693]..."
8163,2019 RTP v8.3.2 20211023,WFRC_8220,WFRC,0.000,0.000,AIRPORT RD,35,SALT LAKE,0.0000,0.000000e+00,...,1.0283,1.0243,9,1.0434,0,0.1143,0.0577,WFRC,0.000000,"{'paths': [[[415710.1200000001, 4495585.710000..."
8164,2019 RTP v8.3.2 20211023,WFRC_8221,WFRC,0.000,0.000,9400 S,35,SALT LAKE,424246.0003,4.492593e+06,...,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,WFRC,0.000000,"{'paths': [[[423366.5, 4492605.300000001], [42..."
8165,2019 RTP v8.3.2 20211023,WFRC_8222,WFRC,0.000,0.000,300 W,35,SALT LAKE,424246.0003,4.492593e+06,...,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,WFRC,0.000000,"{'paths': [[[423433.7000000002, 4493180.6], [4..."
8166,2019 RTP v8.3.2 20211023,WFRC_8223,WFRC,0.000,0.000,300 W,35,SALT LAKE,424246.0003,4.492593e+06,...,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,WFRC,0.000000,"{'paths': [[[423769.4517000001, 4492597.574200..."

In [56]:
sdfNewForecastsFormatted.spatial.to_featureclass(location=os.path.join(dirWebApp, r'layers\Utah Statewide Traffic Volume Historic and Forecast.shp'),sanitize_columns=False)
display(sdfNewForecastsFormatted)

,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,X,Y,...,FAC_SUM,FAC_FAL,FAC_MAXMO,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,PLANAREA,Shape_Leng,SHAPE
0,,2599_000.5,2599,0.457,0.845,SIDEWINDER DR,43,SUMMIT,458687.3525,4.501838e+06,...,1.0700,0.9310,1,1.1420,0,0.0230,0.0050,UDOT,620.772768,"{""paths"": [[[-12411162.427099999, 4962989.7434..."
1,,1242_002.3,1242,2.305,2.711,1200 E,5,CACHE,433138.4591,4.626175e+06,...,1.0570,1.0220,6,1.0670,0,0.0360,0.0260,Cache,660.291812,"{""paths"": [[[-12446035.5269, 5128326.032300003..."
2,,1268_002.0,1268,2.005,2.508,3100 N,5,CACHE,433543.4052,4.626506e+06,...,1.0570,1.0220,6,1.0670,0,0.0360,0.0260,Cache,810.315695,"{""paths"": [[[-12444954.14, 5129222.575800002],..."
3,,0023_010.1,0023,10.066,12.574,6000 W,5,CACHE,418412.8807,4.624561e+06,...,1.0880,1.0330,8,1.0920,0,0.0930,0.0700,UDOT,4027.100962,"{""paths"": [[[-12465493.5364, 5123717.594800003..."
4,,2599_000.8,2599,0.845,0.940,WYATT EARP WAY,43,SUMMIT,458955.7006,4.501987e+06,...,1.0700,0.9310,1,1.1420,0,0.0230,0.0050,UDOT,146.198014,"{""paths"": [[[-12410485.9515, 4963368.133000001..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8162,2019 RTP v8.3.2 20211023,WFRC_8219,WFRC,0.000,0.000,,11,DAVIS,420451.7462,4.553323e+06,...,1.0575,1.0324,8,1.0724,0,0.1278,0.0879,WFRC,0.000000,"{""paths"": [[[419504.53110000025, 4554272.0693]..."
8163,2019 RTP v8.3.2 20211023,WFRC_8220,WFRC,0.000,0.000,AIRPORT RD,35,SALT LAKE,0.0000,0.000000e+00,...,1.0283,1.0243,9,1.0434,0,0.1143,0.0577,WFRC,0.000000,"{""paths"": [[[415710.1200000001, 4495585.710000..."
8164,2019 RTP v8.3.2 20211023,WFRC_8221,WFRC,0.000,0.000,9400 S,35,SALT LAKE,424246.0003,4.492593e+06,...,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,WFRC,0.000000,"{""paths"": [[[423366.5, 4492605.300000001], [42..."
8165,2019 RTP v8.3.2 20211023,WFRC_8222,WFRC,0.000,0.000,300 W,35,SALT LAKE,424246.0003,4.492593e+06,...,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,WFRC,0.000000,"{""paths"": [[[423433.7000000002, 4493180.6], [4..."
8166,2019 RTP v8.3.2 20211023,WFRC_8223,WFRC,0.000,0.000,300 W,35,SALT LAKE,424246.0003,4.492593e+06,...,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,WFRC,0.000000,"{""paths"": [[[423769.4517000001, 4492597.574200..."

# WebApp JSON Data

In [57]:
#format for JSON
dfForecastJSON2024 = sdfNewForecastsFormatted[['SEGID','F2024','CO_FIPS']].copy()
dfForecastJSON2024['YEAR'] = 2024
dfForecastJSON2024.columns = ('S','F','CO_FIPS','Y')
dfForecastJSON2024 = dfForecastJSON2024[['S','Y','F','CO_FIPS']]
display(dfForecastJSON2024)

dfForecastJSON2030 = sdfNewForecastsFormatted[['SEGID','F2030','CO_FIPS']].copy()
dfForecastJSON2030['YEAR'] = 2030
dfForecastJSON2030.columns = ('S','F','CO_FIPS','Y')
dfForecastJSON2030 = dfForecastJSON2030[['S','Y','F','CO_FIPS']]
display(dfForecastJSON2030)

dfForecastJSON2040 = sdfNewForecastsFormatted[['SEGID','F2040','CO_FIPS']].copy()
dfForecastJSON2040['YEAR'] = 2040
dfForecastJSON2040.columns = ('S','F','CO_FIPS','Y')
dfForecastJSON2040 = dfForecastJSON2040[['S','Y','F','CO_FIPS']]
display(dfForecastJSON2040)

dfForecastJSON2050 = sdfNewForecastsFormatted[['SEGID','F2050','CO_FIPS']].copy()
dfForecastJSON2050['YEAR'] = 2050
dfForecastJSON2050.columns = ('S','F','CO_FIPS','Y')
dfForecastJSON2050 = dfForecastJSON2050[['S','Y','F','CO_FIPS']]
display(dfForecastJSON2050)

dfForecastJSON = pd.concat([dfForecastJSON2024,dfForecastJSON2030,dfForecastJSON2040,dfForecastJSON2050])
display(dfForecastJSON)

dfForecastJSON.to_json(os.path.join(dirWebApp, r'forecasts.json'),orient='records')

               S     Y       F  CO_FIPS
0     2599_000.5  2024     0.0       43
1     1242_002.3  2024     0.0        5
2     1268_002.0  2024     0.0        5
3     0023_010.1  2024     0.0        5
4     2599_000.8  2024     0.0       43
...          ...   ...     ...      ...
8162   WFRC_8219  2024     0.0       11
8163   WFRC_8220  2024     0.0       35
8164   WFRC_8221  2024  1300.0       35
8165   WFRC_8222  2024  2300.0       35
8166   WFRC_8223  2024  4300.0       35

[8167 rows x 4 columns]

               S     Y       F  CO_FIPS
0     2599_000.5  2030     0.0       43
1     1242_002.3  2030     0.0        5
2     1268_002.0  2030     0.0        5
3     0023_010.1  2030     0.0        5
4     2599_000.8  2030     0.0       43
...          ...   ...     ...      ...
8162   WFRC_8219  2030  2000.0       11
8163   WFRC_8220  2030     0.0       35
8164   WFRC_8221  2030  1600.0       35
8165   WFRC_8222  2030  3000.0       35
8166   WFRC_8223  2030  5400.0       35

[8167 rows x 4 columns]

               S     Y       F  CO_FIPS
0     2599_000.5  2040     0.0       43
1     1242_002.3  2040     0.0        5
2     1268_002.0  2040     0.0        5
3     0023_010.1  2040     0.0        5
4     2599_000.8  2040     0.0       43
...          ...   ...     ...      ...
8162   WFRC_8219  2040  2000.0       11
8163   WFRC_8220  2040     0.0       35
8164   WFRC_8221  2040  1700.0       35
8165   WFRC_8222  2040  3400.0       35
8166   WFRC_8223  2040  6100.0       35

[8167 rows x 4 columns]

               S     Y       F  CO_FIPS
0     2599_000.5  2050   850.0       43
1     1242_002.3  2050  3100.0        5
2     1268_002.0  2050  3700.0        5
3     0023_010.1  2050  3100.0        5
4     2599_000.8  2050  1200.0       43
...          ...   ...     ...      ...
8162   WFRC_8219  2050  2000.0       11
8163   WFRC_8220  2050     0.0       35
8164   WFRC_8221  2050  5800.0       35
8165   WFRC_8222  2050  8400.0       35
8166   WFRC_8223  2050  8000.0       35

[8167 rows x 4 columns]

               S     Y       F  CO_FIPS
0     2599_000.5  2024     0.0       43
1     1242_002.3  2024     0.0        5
2     1268_002.0  2024     0.0        5
3     0023_010.1  2024     0.0        5
4     2599_000.8  2024     0.0       43
...          ...   ...     ...      ...
8162   WFRC_8219  2050  2000.0       11
8163   WFRC_8220  2050     0.0       35
8164   WFRC_8221  2050  5800.0       35
8165   WFRC_8222  2050  8400.0       35
8166   WFRC_8223  2050  8000.0       35

[32668 rows x 4 columns]

In [58]:
#format for JSON

dfObservedJSON = pd.DataFrame()

for x in range(2000, 2020):
    print('%d' % (x))
    
    dfObservedJSONx = sdfNewForecastsFormatted[['SEGID','AADT' + str(x) ]].copy()
    dfObservedJSONx['YEAR'] = x
    dfObservedJSONx.columns = ('S','O','Y')
    dfObservedJSONx = dfObservedJSONx[['S','Y','O']]
    display(dfObservedJSONx)
    
    dfObservedJSON = pd.concat([dfObservedJSON,dfObservedJSONx])


dfObservedJSON.O = dfObservedJSON.O.astype('int64')
    
display(dfObservedJSON)

dfObservedJSON.to_json(os.path.join(dirWebApp, r'observed.json'),orient='records')

2000

               S     Y       O
0     2599_000.5  2000     0.0
1     1242_002.3  2000     0.0
2     1268_002.0  2000     0.0
3     0023_010.1  2000  1500.0
4     2599_000.8  2000     0.0
...          ...   ...     ...
8162   WFRC_8219  2000     0.0
8163   WFRC_8220  2000     0.0
8164   WFRC_8221  2000     0.0
8165   WFRC_8222  2000     0.0
8166   WFRC_8223  2000     0.0

[8167 rows x 3 columns]

2001

               S     Y       O
0     2599_000.5  2001     0.0
1     1242_002.3  2001     0.0
2     1268_002.0  2001     0.0
3     0023_010.1  2001  1500.0
4     2599_000.8  2001     0.0
...          ...   ...     ...
8162   WFRC_8219  2001     0.0
8163   WFRC_8220  2001     0.0
8164   WFRC_8221  2001     0.0
8165   WFRC_8222  2001     0.0
8166   WFRC_8223  2001     0.0

[8167 rows x 3 columns]

2002

               S     Y       O
0     2599_000.5  2002     0.0
1     1242_002.3  2002     0.0
2     1268_002.0  2002     0.0
3     0023_010.1  2002  1600.0
4     2599_000.8  2002     0.0
...          ...   ...     ...
8162   WFRC_8219  2002     0.0
8163   WFRC_8220  2002     0.0
8164   WFRC_8221  2002     0.0
8165   WFRC_8222  2002     0.0
8166   WFRC_8223  2002     0.0

[8167 rows x 3 columns]

2003

               S     Y       O
0     2599_000.5  2003     0.0
1     1242_002.3  2003     0.0
2     1268_002.0  2003     0.0
3     0023_010.1  2003   970.0
4     2599_000.8  2003     0.0
...          ...   ...     ...
8162   WFRC_8219  2003     0.0
8163   WFRC_8220  2003  4900.0
8164   WFRC_8221  2003     0.0
8165   WFRC_8222  2003     0.0
8166   WFRC_8223  2003     0.0

[8167 rows x 3 columns]

2004

               S     Y       O
0     2599_000.5  2004     0.0
1     1242_002.3  2004     0.0
2     1268_002.0  2004     0.0
3     0023_010.1  2004  1500.0
4     2599_000.8  2004     0.0
...          ...   ...     ...
8162   WFRC_8219  2004     0.0
8163   WFRC_8220  2004  4900.0
8164   WFRC_8221  2004     0.0
8165   WFRC_8222  2004     0.0
8166   WFRC_8223  2004     0.0

[8167 rows x 3 columns]

2005

               S     Y       O
0     2599_000.5  2005     0.0
1     1242_002.3  2005     0.0
2     1268_002.0  2005     0.0
3     0023_010.1  2005  1500.0
4     2599_000.8  2005     0.0
...          ...   ...     ...
8162   WFRC_8219  2005     0.0
8163   WFRC_8220  2005  4900.0
8164   WFRC_8221  2005     0.0
8165   WFRC_8222  2005     0.0
8166   WFRC_8223  2005     0.0

[8167 rows x 3 columns]

2006

               S     Y       O
0     2599_000.5  2006     0.0
1     1242_002.3  2006     0.0
2     1268_002.0  2006     0.0
3     0023_010.1  2006  1700.0
4     2599_000.8  2006     0.0
...          ...   ...     ...
8162   WFRC_8219  2006     0.0
8163   WFRC_8220  2006  5100.0
8164   WFRC_8221  2006     0.0
8165   WFRC_8222  2006     0.0
8166   WFRC_8223  2006     0.0

[8167 rows x 3 columns]

2007

               S     Y       O
0     2599_000.5  2007  1000.0
1     1242_002.3  2007  2000.0
2     1268_002.0  2007  1000.0
3     0023_010.1  2007  1700.0
4     2599_000.8  2007   500.0
...          ...   ...     ...
8162   WFRC_8219  2007     0.0
8163   WFRC_8220  2007  8400.0
8164   WFRC_8221  2007     0.0
8165   WFRC_8222  2007     0.0
8166   WFRC_8223  2007     0.0

[8167 rows x 3 columns]

2008

               S     Y       O
0     2599_000.5  2008   950.0
1     1242_002.3  2008  1900.0
2     1268_002.0  2008   950.0
3     0023_010.1  2008  1600.0
4     2599_000.8  2008   480.0
...          ...   ...     ...
8162   WFRC_8219  2008     0.0
8163   WFRC_8220  2008  8000.0
8164   WFRC_8221  2008     0.0
8165   WFRC_8222  2008     0.0
8166   WFRC_8223  2008     0.0

[8167 rows x 3 columns]

2009

               S     Y       O
0     2599_000.5  2009   950.0
1     1242_002.3  2009  1900.0
2     1268_002.0  2009   950.0
3     0023_010.1  2009  1700.0
4     2599_000.8  2009   480.0
...          ...   ...     ...
8162   WFRC_8219  2009     0.0
8163   WFRC_8220  2009  8000.0
8164   WFRC_8221  2009     0.0
8165   WFRC_8222  2009     0.0
8166   WFRC_8223  2009     0.0

[8167 rows x 3 columns]

2010

               S     Y       O
0     2599_000.5  2010   940.0
1     1242_002.3  2010  2600.0
2     1268_002.0  2010   940.0
3     0023_010.1  2010  1700.0
4     2599_000.8  2010   470.0
...          ...   ...     ...
8162   WFRC_8219  2010     0.0
8163   WFRC_8220  2010  7900.0
8164   WFRC_8221  2010     0.0
8165   WFRC_8222  2010     0.0
8166   WFRC_8223  2010     0.0

[8167 rows x 3 columns]

2011

               S     Y       O
0     2599_000.5  2011   610.0
1     1242_002.3  2011  2500.0
2     1268_002.0  2011  1400.0
3     0023_010.1  2011   890.0
4     2599_000.8  2011   470.0
...          ...   ...     ...
8162   WFRC_8219  2011     0.0
8163   WFRC_8220  2011  7900.0
8164   WFRC_8221  2011     0.0
8165   WFRC_8222  2011     0.0
8166   WFRC_8223  2011     0.0

[8167 rows x 3 columns]

2012

               S     Y       O
0     2599_000.5  2012   600.0
1     1242_002.3  2012  2500.0
2     1268_002.0  2012   440.0
3     0023_010.1  2012  1200.0
4     2599_000.8  2012   730.0
...          ...   ...     ...
8162   WFRC_8219  2012     0.0
8163   WFRC_8220  2012  7800.0
8164   WFRC_8221  2012     0.0
8165   WFRC_8222  2012     0.0
8166   WFRC_8223  2012     0.0

[8167 rows x 3 columns]

2013

               S     Y       O
0     2599_000.5  2013   580.0
1     1242_002.3  2013  2400.0
2     1268_002.0  2013   430.0
3     0023_010.1  2013  1200.0
4     2599_000.8  2013   710.0
...          ...   ...     ...
8162   WFRC_8219  2013     0.0
8163   WFRC_8220  2013  7600.0
8164   WFRC_8221  2013     0.0
8165   WFRC_8222  2013     0.0
8166   WFRC_8223  2013     0.0

[8167 rows x 3 columns]

2014

               S     Y       O
0     2599_000.5  2014   590.0
1     1242_002.3  2014  2500.0
2     1268_002.0  2014   440.0
3     0023_010.1  2014  1300.0
4     2599_000.8  2014   720.0
...          ...   ...     ...
8162   WFRC_8219  2014     0.0
8163   WFRC_8220  2014  7600.0
8164   WFRC_8221  2014     3.0
8165   WFRC_8222  2014     3.0
8166   WFRC_8223  2014     3.0

[8167 rows x 3 columns]

2015

               S     Y        O
0     2599_000.5  2015    615.0
1     1242_002.3  2015   2560.0
2     1268_002.0  2015    450.0
3     0023_010.1  2015   1190.0
4     2599_000.8  2015    850.0
...          ...   ...      ...
8162   WFRC_8219  2015      0.0
8163   WFRC_8220  2015  15375.0
8164   WFRC_8221  2015      0.0
8165   WFRC_8222  2015      0.0
8166   WFRC_8223  2015      0.0

[8167 rows x 3 columns]

2016

               S     Y        O
0     2599_000.5  2016    645.0
1     1242_002.3  2016   2696.0
2     1268_002.0  2016    476.0
3     0023_010.1  2016   1248.0
4     2599_000.8  2016    897.0
...          ...   ...      ...
8162   WFRC_8219  2016      0.0
8163   WFRC_8220  2016  16191.0
8164   WFRC_8221  2016      0.0
8165   WFRC_8222  2016      0.0
8166   WFRC_8223  2016      0.0

[8167 rows x 3 columns]

2017

               S     Y        O
0     2599_000.5  2017    660.0
1     1242_002.3  2017   2800.0
2     1268_002.0  2017    590.0
3     0023_010.1  2017   1300.0
4     2599_000.8  2017    920.0
...          ...   ...      ...
8162   WFRC_8219  2017      0.0
8163   WFRC_8220  2017  17000.0
8164   WFRC_8221  2017      0.0
8165   WFRC_8222  2017      0.0
8166   WFRC_8223  2017      0.0

[8167 rows x 3 columns]

2018

               S     Y       O
0     2599_000.5  2018   669.0
1     1242_002.3  2018  2797.0
2     1268_002.0  2018   594.0
3     0023_010.1  2018  1331.0
4     2599_000.8  2018   930.0
...          ...   ...     ...
8162   WFRC_8219  2018     0.0
8163   WFRC_8220  2018     0.0
8164   WFRC_8221  2018     0.0
8165   WFRC_8222  2018     0.0
8166   WFRC_8223  2018     0.0

[8167 rows x 3 columns]

2019

               S     Y       O
0     2599_000.5  2019   681.0
1     1242_002.3  2019  2847.0
2     1268_002.0  2019   605.0
3     0023_010.1  2019  1347.0
4     2599_000.8  2019   947.0
...          ...   ...     ...
8162   WFRC_8219  2019     0.0
8163   WFRC_8220  2019     0.0
8164   WFRC_8221  2019     0.0
8165   WFRC_8222  2019     0.0
8166   WFRC_8223  2019     0.0

[8167 rows x 3 columns]

               S     Y     O
0     2599_000.5  2000     0
1     1242_002.3  2000     0
2     1268_002.0  2000     0
3     0023_010.1  2000  1500
4     2599_000.8  2000     0
...          ...   ...   ...
8162   WFRC_8219  2019     0
8163   WFRC_8220  2019     0
8164   WFRC_8221  2019     0
8165   WFRC_8222  2019     0
8166   WFRC_8223  2019     0

[163340 rows x 3 columns]

In [59]:
dfForecastJSON[dfForecastJSON['S']=='2082_009.6']

               S     Y        F  CO_FIPS
5827  2082_009.6  2024  31500.0       35
5827  2082_009.6  2030  32000.0       35
5827  2082_009.6  2040  40000.0       35
5827  2082_009.6  2050  41500.0       35