In [19]:
import numpy as np
import os
import pandas as pd

# Import the required ArcGIS API for Python modules
import arcgis
from arcgis.gis import GIS
gis = arcgis.GIS()
from arcgis.geoanalytics import manage_data

from IPython.display import display, Markdown

In [20]:
dirWork         = os.getcwd()
dirInput        = os.path.join(dirWork, r'input'         )
dirIntermediate = os.path.join(dirWork, r'intermediate'  )
dirResults      = os.path.join(dirWork, r'results'       )
dirParams       = os.path.join(dirWork, r'params'        )
dirWebApp       = os.path.join(dirWork, r'webapp_data'   )                             
                               
sdfForecastsPrevious = pd.DataFrame.spatial.from_featureclass(os.path.join(dirInput,r"WFRCForecasts_2019RTP_v831_20200508\WFRCForecasts_2019RTP_v831_20200508.shp"))

#also includes AADT
sdfMasterSegswithFactors =  pd.DataFrame.spatial.from_featureclass(os.path.join(dirInput,r"Master_Segs_withFactors_20211110\Master_Segs_withFactors_20211110.shp"))
dfNewAADT = sdfMasterSegswithFactors[['SEGID','AADT2018','AADT2019']]

dfWFForecasts = pd.read_csv(os.path.join(dirInput, r'WFRCForecasts_20211110_v832.csv'))

In [21]:
sdfMasterSegswithFactors

,FID,Id,SEGID,BMP,EMP,DISTANCE,FULLNAME,FNCLASS,FC_CODE,FC_GROUP,...,FAC_WIN,FAC_SPR,FAC_SUM,FAC_FAL,FAC_MAXMO,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,SHAPE
0,0,0,0006_000.0,0.000,0.665,0.666641,HWY 6,Arterial,3,Arterial,...,0.8495,1.0276,1.0914,1.0316,5,1.1065,0,0.2496,0.2324,"{""paths"": [[[236177.7000000002, 4327541.25], [..."
1,1,0,0006_000.7,0.665,16.022,15.369839,HWY 6,Arterial,3,Arterial,...,0.8495,1.0276,1.0914,1.0316,5,1.1065,0,0.2496,0.2324,"{""paths"": [[[237241.1799999997, 4327399.720000..."
2,2,0,0006_016.0,16.022,46.017,30.001961,HWY 6,Arterial,3,Arterial,...,0.8495,1.0276,1.0914,1.0316,5,1.1065,0,0.2496,0.2324,"{""paths"": [[[261403.90000000037, 4327045.4], [..."
3,3,0,0006_046.0,46.017,60.218,14.194306,HWY 6,Arterial,3,Arterial,...,0.8495,1.0276,1.0914,1.0316,5,1.1065,0,0.1751,0.3338,"{""paths"": [[[305380.16000000015, 4325741.85], ..."
4,4,0,0006_060.2,60.218,77.545,17.323237,HWY 6,Arterial,3,Arterial,...,0.8495,1.0276,1.0914,1.0316,5,1.1065,0,0.1751,0.3338,"{""paths"": [[[324618, 4337936.9], [324647.40000..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8552,8552,0,WFRC_8218,0.000,0.000,0.575753,,Freeway,1,Freeway,...,0.9479,0.9252,1.1470,0.9799,7,1.1808,1,0.1392,0.0292,"{""paths"": [[[433362, 4507122.73], [433261.4064..."
8553,8553,0,WFRC_8219,0.000,0.000,1.154153,,Arterial,50,Arterial,...,0.8994,1.0107,1.0575,1.0324,8,1.0724,0,0.1273,0.0870,"{""paths"": [[[419504.53110000025, 4554272.0693]..."
8554,8554,0,WFRC_8220,0.000,0.000,0.192948,AIRPORT RD,Arterial,4,Arterial,...,0.9370,1.0104,1.0283,1.0243,9,1.0434,0,0.1142,0.0576,"{""paths"": [[[415710.1200000001, 4495585.710000..."
8555,8555,0,0194_002.8,0.000,0.332,0.371462,2100 N,Arterial,3,Arterial,...,0.9370,1.0104,1.0283,1.0243,9,1.0434,0,0.0888,0.0310,"{""paths"": [[[426297.9124999996, 4474217.957699..."
8556,8556,0,0241_000.0,0.000,0.300,0.300000,1600 N,Arterial,4,Arterial,...,0.9653,1.0117,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,"{""paths"": [[[437826.9299999997, 4464232.99], [..."

In [22]:
#intermediate output
#dfFactors = pd.read_csv(os.path.join(dirIntermediate,'CCS_Factors.csv'))
#dfSegFac  = pd.read_csv(os.path.join(dirIntermediate, 'SegmentsMatchedToFactorGroups.csv'))
#dfSegFacWithTrk = pd.read_csv(os.path.join(dirIntermediate, r'SegmentTruckFactors.csv'))
#sdfSegments = pd.DataFrame.spatial.from_featureclass(os.path.join(dirWork,  r"arcgis\UDOT-Segments.gdb\Master_Segs_20210811"))

In [23]:
sdfForecastsPrevious.columns.values.tolist()

['FID',
 'FID_1',
 'RELEASE',
 'SEGID',
 'ROUTE_ID',
 'BMP',
 'EMP',
 'FULLNAME',
 'CO_FIPS',
 'CO_NAME',
 'X',
 'Y',
 'DISTANCE',
 'F2050',
 'F2040',
 'F2030',
 'F2024',
 'F2019',
 'CH17TO50',
 'CH40TO50',
 'CH30TO40',
 'CH24TO30',
 'CH19TO24',
 'CH15TO19',
 'CH17TO19',
 'FNOTES',
 'MOREINFO',
 'WFRC_FLG',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'SUTRK2017',
 'CUTRK2017',
 'DOWFACFC',
 'DOWFACAT',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'SSNGRP',
 'SSNVOLCLS',
 'SSNATGROUP',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'PLANAREA',
 'Shape_Leng',
 'SHAPE_Le_1',
 'SHAPE']

In [24]:
dfWFForecasts = dfWFForecasts.fillna("")
dfWFForecasts = dfWFForecasts.drop(columns=('CO_FIPS'))
dfWFForecasts

,SEGID,F2019,F2024,F2030,F2040,F2050,CH19TO24,CH24TO30,CH30TO40,CH40TO50,CH19TO50,FNOTES
0,0006_146.9,1517,1700,1700,1800,2000,183,0,100,200,483,
1,0006_149.9,2441,2700,2800,3400,4300,259,100,600,900,1859,
2,0006_150.6,2441,2700,2800,3500,4300,259,100,700,800,1859,
3,0006_152.6,2417,2800,2900,3400,4600,383,100,500,1200,2183,
4,0006_152.9,3759,4200,4300,5200,6600,441,100,900,1400,2841,
...,...,...,...,...,...,...,...,...,...,...,...,...
4096,WFRC_8214,0,0,0,0,0,0,0,0,0,0,
4097,WFRC_8215,0,2700,4400,6700,8900,2700,1700,2300,2200,8900,
4098,WFRC_8216,0,14000,18000,22000,27000,14000,4000,4000,5000,27000,
4099,WFRC_8217,0,0,0,0,0,0,0,0,0,0,
4100,WFRC_8219,0,0,6200,6500,6900,0,6200,300,400,6900,

In [25]:
sdfMasterSegswithFactors.columns.values.tolist()

['FID',
 'Id',
 'SEGID',
 'BMP',
 'EMP',
 'DISTANCE',
 'FULLNAME',
 'FNCLASS',
 'FC_CODE',
 'FC_GROUP',
 'FC_NAME',
 'CO_FIPS',
 'CO_NAME',
 'PLANAREA',
 'X',
 'Y',
 'ONLRS',
 'T_MODEL',
 'USE',
 'RT_NUM',
 'AADT2019',
 'AADT2018',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'CCSGROUP',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'SHAPE']

In [26]:
sdfWF = sdfMasterSegswithFactors[(sdfMasterSegswithFactors['PLANAREA']=='WFRC') | (sdfMasterSegswithFactors['PLANAREA']=='MAG')].copy()
sdfWFForecasts = pd.DataFrame.merge(sdfWF, dfWFForecasts, on='SEGID', how='left')
sdfWFForecasts = sdfWFForecasts.fillna(0)
sdfWFForecasts['RELEASE'] = '2019 RTP v8.3.2 20211023'
sdfWFForecasts

,FID,Id,SEGID,BMP,EMP,DISTANCE,FULLNAME,FNCLASS,FC_CODE,FC_GROUP,...,F2030,F2040,F2050,CH19TO24,CH24TO30,CH30TO40,CH40TO50,CH19TO50,FNOTES,RELEASE
0,23,0,0006_146.9,146.868,149.902,3.039023,HWY 6,Arterial,4,Arterial,...,1700.0,1800.0,2000.0,183.0,0.0,100.0,200.0,483.0,,2019 RTP v8.3.2 20211023
1,24,0,0006_149.9,149.902,150.580,0.677983,HWY 6,Arterial,4,Arterial,...,2800.0,3400.0,4300.0,259.0,100.0,600.0,900.0,1859.0,,2019 RTP v8.3.2 20211023
2,25,0,0006_150.6,150.580,152.555,1.973104,HWY 6,Arterial,4,Arterial,...,2800.0,3500.0,4300.0,259.0,100.0,700.0,800.0,1859.0,,2019 RTP v8.3.2 20211023
3,26,0,0006_152.6,152.555,152.871,0.316275,MAIN ST,Arterial,4,Arterial,...,2900.0,3400.0,4600.0,383.0,100.0,500.0,1200.0,2183.0,,2019 RTP v8.3.2 20211023
4,27,0,0006_152.9,152.871,155.793,2.923224,HWY 6,Arterial,4,Arterial,...,4300.0,5200.0,6600.0,441.0,100.0,900.0,1400.0,2841.0,,2019 RTP v8.3.2 20211023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,8552,0,WFRC_8218,0.000,0.000,0.575753,,Freeway,1,Freeway,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2019 RTP v8.3.2 20211023
4188,8553,0,WFRC_8219,0.000,0.000,1.154153,,Arterial,50,Arterial,...,6200.0,6500.0,6900.0,0.0,6200.0,300.0,400.0,6900.0,,2019 RTP v8.3.2 20211023
4189,8554,0,WFRC_8220,0.000,0.000,0.192948,AIRPORT RD,Arterial,4,Arterial,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2019 RTP v8.3.2 20211023
4190,8555,0,0194_002.8,0.000,0.332,0.371462,2100 N,Arterial,3,Arterial,...,16500.0,23000.0,29500.0,3620.0,-8500.0,6500.0,6500.0,8120.0,New 2100 N flyover ramps in 2024,2019 RTP v8.3.2 20211023
4191,8556,0,0241_000.0,0.000,0.300,0.300000,1600 N,Arterial,4,Arterial,...,31500.0,32500.0,36000.0,1500.0,2000.0,1000.0,3500.0,8000.0,,2019 RTP v8.3.2 20211023

In [27]:
sdfWFForecasts.columns.values.tolist()

['FID',
 'Id',
 'SEGID',
 'BMP',
 'EMP',
 'DISTANCE',
 'FULLNAME',
 'FNCLASS',
 'FC_CODE',
 'FC_GROUP',
 'FC_NAME',
 'CO_FIPS',
 'CO_NAME',
 'PLANAREA',
 'X',
 'Y',
 'ONLRS',
 'T_MODEL',
 'USE',
 'RT_NUM',
 'AADT2019',
 'AADT2018',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'CCSGROUP',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'SHAPE',
 'F2019',
 'F2024',
 'F2030',
 'F2040',
 'F2050',
 'CH19TO24',
 'CH24TO30',
 'CH30TO40',
 'CH40TO50',
 'CH19TO50',
 'FNOTES',
 'RELEASE']

# Non WFRC-MAG Plan Area

In [28]:
sdfNonWF = sdfForecastsPrevious[(sdfForecastsPrevious['PLANAREA']!='WFRC') & (sdfForecastsPrevious['PLANAREA']!='MAG')].copy()
sdfNonWF

,FID,FID_1,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,...,FAC_FAL,FAC_MAXMO,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,PLANAREA,Shape_Leng,SHAPE_Le_1,SHAPE
2000,2000,2001,,2599_000.5,2599,0.457000,0.845000,SIDEWINDER DR,43,SUMMIT,...,0.931,1,1.142,0,0.023,0.005,UDOT,620.772768,818.434451,"{""paths"": [[[-12411162.427099999, 4962989.7434..."
2001,2001,2002,,1242_002.3,1242,2.305000,2.711000,1200 E,5,CACHE,...,1.022,6,1.067,0,0.036,0.026,Cache,660.291812,887.821520,"{""paths"": [[[-12446035.5269, 5128326.032300003..."
2002,2002,2003,,1268_002.0,1268,2.005000,2.508000,3100 N,5,CACHE,...,1.022,6,1.067,0,0.036,0.026,Cache,810.315695,1085.527815,"{""paths"": [[[-12444954.14, 5129222.575800002],..."
2003,2003,2004,,0023_010.1,23,10.066000,12.574000,6000 W,5,CACHE,...,1.033,8,1.092,0,0.093,0.070,UDOT,4027.100962,5412.560325,"{""paths"": [[[-12465493.5364, 5123717.594800003..."
2004,2004,2005,,2599_000.8,2599,0.845000,0.940000,WYATT EARP WAY,43,SUMMIT,...,0.931,1,1.142,0,0.023,0.005,UDOT,146.198014,193.198545,"{""paths"": [[[-12410485.9515, 4963368.133000001..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8106,8106,8107,,1003_000.0,1003,0.000000,0.000000,M&M RD,1,BEAVER,...,1.033,8,1.092,0,0.036,0.026,UDOT,6854.447483,8739.036207,"{""paths"": [[[-12574820.5408, 4610780.345600001..."
8107,8107,8108,,1122_001.0,1122,1.002000,2.003000,8400 W,3,BOX ELDER,...,1.033,8,1.092,0,0.017,0.012,UDOT,1607.473026,2158.042786,"{""paths"": [[[-12492134.8584, 5113382.925300002..."
8108,8108,8109,,2565_001.6,2565,1.550000,1.693000,LOST CREEK RD,41,SEVIER,...,1.018,9,1.044,0,0.032,0.019,UDOT,206.769560,265.622771,"{""paths"": [[[-12452334.4074, 4714317.395900004..."
8111,8111,8112,,0091_004.9,91,4.916000,5.738000,HWY 91,3,BOX ELDER,...,1.016,8,1.134,0,0.080,0.150,UDOT,1317.644787,1757.930132,"{""paths"": [[[-12464343.7741, 5086022.470100000..."
8112,8112,8113,,0050_158.04,50,158.042999,158.169998,MAIN ST,41,SEVIER,...,1.022,6,1.067,0,0.230,0.163,UDOT,155.450741,199.780900,"{""paths"": [[[-12452953.827100001, 4715564.0740..."

In [29]:
sdfNonWFwithNewAADT = pd.DataFrame.merge(sdfNonWF, dfNewAADT, on='SEGID', how='left')
sdfNonWFwithNewAADT

,FID,FID_1,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,...,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,PLANAREA,Shape_Leng,SHAPE_Le_1,SHAPE,AADT2018,AADT2019
0,2000,2001,,2599_000.5,2599,0.457000,0.845000,SIDEWINDER DR,43,SUMMIT,...,1.142,0,0.023,0.005,UDOT,620.772768,818.434451,"{'paths': [[[-12411162.427099999, 4962989.7434...",669.0,681.0
1,2001,2002,,1242_002.3,1242,2.305000,2.711000,1200 E,5,CACHE,...,1.067,0,0.036,0.026,Cache,660.291812,887.821520,"{'paths': [[[-12446035.5269, 5128326.032300003...",2797.0,2847.0
2,2002,2003,,1268_002.0,1268,2.005000,2.508000,3100 N,5,CACHE,...,1.067,0,0.036,0.026,Cache,810.315695,1085.527815,"{'paths': [[[-12444954.14, 5129222.575800002],...",594.0,605.0
3,2003,2004,,0023_010.1,23,10.066000,12.574000,6000 W,5,CACHE,...,1.092,0,0.093,0.070,UDOT,4027.100962,5412.560325,"{'paths': [[[-12465493.5364, 5123717.594800003...",1331.0,1347.0
4,2004,2005,,2599_000.8,2599,0.845000,0.940000,WYATT EARP WAY,43,SUMMIT,...,1.142,0,0.023,0.005,UDOT,146.198014,193.198545,"{'paths': [[[-12410485.9515, 4963368.133000001...",930.0,947.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3963,8106,8107,,1003_000.0,1003,0.000000,0.000000,M&M RD,1,BEAVER,...,1.092,0,0.036,0.026,UDOT,6854.447483,8739.036207,"{'paths': [[[-12574820.5408, 4610780.345600001...",361.0,365.0
3964,8107,8108,,1122_001.0,1122,1.002000,2.003000,8400 W,3,BOX ELDER,...,1.092,0,0.017,0.012,UDOT,1607.473026,2158.042786,"{'paths': [[[-12492134.8584, 5113382.925300002...",346.0,350.0
3965,8108,8109,,2565_001.6,2565,1.550000,1.693000,LOST CREEK RD,41,SEVIER,...,1.044,0,0.032,0.019,UDOT,206.769560,265.622771,"{'paths': [[[-12452334.4074, 4714317.395900004...",587.0,594.0
3966,8111,8112,,0091_004.9,91,4.916000,5.738000,HWY 91,3,BOX ELDER,...,1.134,0,0.080,0.150,UDOT,1317.644787,1757.930132,"{'paths': [[[-12464343.7741, 5086022.470100000...",21508.0,21465.0
3967,8112,8113,,0050_158.04,50,158.042999,158.169998,MAIN ST,41,SEVIER,...,1.067,0,0.230,0.163,UDOT,155.450741,199.780900,"{'paths': [[[-12452953.827100001, 4715564.0740...",8912.0,9019.0

In [30]:
#update 19 to 24 change with AADT

#replace zero forecasts with 2019 AADT if >0
#sdfNonWFwithNewAADT.loc[(sdfNonWFwithNewAADT['AADT2019']>0) & (sdfNonWFwithNewAADT['F2024']==0),'F2024'] = sdfNonWFwithNewAADT['AADT2019']
#sdfNonWFwithNewAADT.loc[(sdfNonWFwithNewAADT['AADT2019']>0) & (sdfNonWFwithNewAADT['F2030']==0),'F2030'] = sdfNonWFwithNewAADT['AADT2019']
#sdfNonWFwithNewAADT.loc[(sdfNonWFwithNewAADT['AADT2019']>0) & (sdfNonWFwithNewAADT['F2040']==0),'F2040'] = sdfNonWFwithNewAADT['AADT2019']
#sdfNonWFwithNewAADT.loc[(sdfNonWFwithNewAADT['AADT2019']>0) & (sdfNonWFwithNewAADT['F2050']==0),'F2050'] = sdfNonWFwithNewAADT['AADT2019']

sdfNonWFwithNewAADT['CH19TO24'] = sdfNonWFwithNewAADT['F2024'] - sdfNonWFwithNewAADT['AADT2019']
sdfNonWFwithNewAADT['CH19TO50'] = sdfNonWFwithNewAADT['F2050'] - sdfNonWFwithNewAADT['AADT2019']

sdfNonWFwithNewAADT[['SEGID','AADT2019','F2019','F2024','F2030','F2040','F2050','CH19TO24','CH24TO30','CH30TO40','CH40TO50','CH19TO50']]

,SEGID,AADT2019,F2019,F2024,F2030,F2040,F2050,CH19TO24,CH24TO30,CH30TO40,CH40TO50,CH19TO50
0,2599_000.5,681.0,0,0,0,0,850,-681.0,0,0,850,169.0
1,1242_002.3,2847.0,0,0,0,0,3100,-2847.0,0,0,3100,253.0
2,1268_002.0,605.0,0,0,0,0,3700,-605.0,0,0,3700,3095.0
3,0023_010.1,1347.0,0,0,0,0,3100,-1347.0,0,0,3100,1753.0
4,2599_000.8,947.0,0,0,0,0,1200,-947.0,0,0,1200,253.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3963,1003_000.0,365.0,350,350,450,550,650,-15.0,100,100,100,285.0
3964,1122_001.0,350.0,350,400,450,550,650,50.0,50,100,100,300.0
3965,2565_001.6,594.0,550,600,700,900,1100,6.0,100,200,200,506.0
3966,0091_004.9,21465.0,21500,22500,23500,25500,27500,1035.0,1000,2000,2000,6035.0
3967,0050_158.04,9019.0,8700,9500,10500,12500,14500,481.0,1000,2000,2000,5481.0

# Combine

In [31]:
sdfNewForecasts = pd.concat([sdfNonWFwithNewAADT,sdfWFForecasts])
sdfNewForecasts['ROUTE_ID'] = sdfNewForecasts['SEGID'].apply(lambda r: (r.split('_')[0]))
sdfNewForecasts = sdfNewForecasts.drop(columns=('FID_1'))
sdfNewForecasts[['CCSGROUP']] = sdfNewForecasts[['CCSGROUP']].fillna(value="")
sdfNewForecasts = sdfNewForecasts.fillna(0)
sdfNewForecasts

,FID,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,X,...,Id,FNCLASS,FC_CODE,FC_GROUP,FC_NAME,ONLRS,T_MODEL,USE,RT_NUM,CCSGROUP
0,2000,,2599_000.5,2599,0.457,0.845,SIDEWINDER DR,43,SUMMIT,458687.3525,...,0.0,0,0.0,0,0,0,0,0.0,0.0,
1,2001,,1242_002.3,1242,2.305,2.711,1200 E,5,CACHE,433138.4591,...,0.0,0,0.0,0,0,0,0,0.0,0.0,
2,2002,,1268_002.0,1268,2.005,2.508,3100 N,5,CACHE,433543.4052,...,0.0,0,0.0,0,0,0,0,0.0,0.0,
3,2003,,0023_010.1,0023,10.066,12.574,6000 W,5,CACHE,418412.8807,...,0.0,0,0.0,0,0,0,0,0.0,0.0,
4,2004,,2599_000.8,2599,0.845,0.940,WYATT EARP WAY,43,SUMMIT,458955.7006,...,0.0,0,0.0,0,0,0,0,0.0,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,8552,2019 RTP v8.3.2 20211023,WFRC_8218,WFRC,0.000,0.000,,35,SALT LAKE,432644.3753,...,0.0,Freeway,1.0,Freeway,Interstate,Yes,,4.0,215.0,XX3
4188,8553,2019 RTP v8.3.2 20211023,WFRC_8219,WFRC,0.000,0.000,,11,DAVIS,420451.7462,...,0.0,Arterial,50.0,Arterial,Proposed Major Collector,No,,5.0,0.0,COS
4189,8554,2019 RTP v8.3.2 20211023,WFRC_8220,WFRC,0.000,0.000,AIRPORT RD,35,SALT LAKE,0.0000,...,0.0,Arterial,4.0,Arterial,Minor Arterial,Yes,,1.0,2036.0,COT
4190,8555,2019 RTP v8.3.2 20211023,0194_002.8,0194,0.000,0.332,2100 N,49,UTAH,426255.9922,...,0.0,Arterial,3.0,Arterial,Other Principal Arterial,Yes,No,0.0,194.0,COT
4191,8556,2019 RTP v8.3.2 20211023,0241_000.0,0241,0.000,0.300,1600 N,49,UTAH,438227.7250,...,0.0,Arterial,4.0,Arterial,Minor Arterial,Yes,Yes,0.0,2946.0,COU

In [32]:
sdfNewForecasts.columns.values.tolist()

['FID',
 'RELEASE',
 'SEGID',
 'ROUTE_ID',
 'BMP',
 'EMP',
 'FULLNAME',
 'CO_FIPS',
 'CO_NAME',
 'X',
 'Y',
 'DISTANCE',
 'F2050',
 'F2040',
 'F2030',
 'F2024',
 'F2019',
 'CH17TO50',
 'CH40TO50',
 'CH30TO40',
 'CH24TO30',
 'CH19TO24',
 'CH15TO19',
 'CH17TO19',
 'FNOTES',
 'MOREINFO',
 'WFRC_FLG',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'SUTRK2017',
 'CUTRK2017',
 'DOWFACFC',
 'DOWFACAT',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'SSNGRP',
 'SSNVOLCLS',
 'SSNATGROUP',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'PLANAREA',
 'Shape_Leng',
 'SHAPE_Le_1',
 'SHAPE',
 'AADT2018',
 'AADT2019',
 'CH19TO50',
 'Id',
 'FNCLASS',
 'FC_CODE',
 'FC_GROUP',
 'FC_NAME',
 'ONLRS',
 'T_MODEL',
 'USE',
 'RT_NUM',
 'CCSGROUP']

In [33]:
sdfNewForecastsFormatted = sdfNewForecasts[[
 'RELEASE',
 'SEGID',
 'ROUTE_ID',
 'BMP',
 'EMP',
 'FULLNAME',
 'CO_FIPS',
 'CO_NAME',
 'X',
 'Y',
 'DISTANCE',
 'F2050',
 'F2040',
 'F2030',
 'F2024',
 'CH40TO50',
 'CH30TO40',
 'CH24TO30',
 'CH19TO24',
 'CH19TO50',
 'FNOTES',
 'MOREINFO',
 'WFRC_FLG',
 'AADT2019',
 'AADT2018',
 'AADT2017',
 'AADT2016',
 'AADT2015',
 'AADT2014',
 'AADT2013',
 'AADT2012',
 'AADT2011',
 'AADT2010',
 'AADT2009',
 'AADT2008',
 'AADT2007',
 'AADT2006',
 'AADT2005',
 'AADT2004',
 'AADT2003',
 'AADT2002',
 'AADT2001',
 'AADT2000',
 'AADT1999',
 'AADT1998',
 'AADT1997',
 'AADT1996',
 'AADT1994',
 'AADT1993',
 'AADT1992',
 'AADT1991',
 'AADT1990',
 'AADT1989',
 'AADT1988',
 'AADT1987',
 'AADT1986',
 'AADT1985',
 'AADT1984',
 'AADT1983',
 'AADT1982',
 'AADT1981',
 'SUTRK2017',
 'CUTRK2017',
 'DOWFACFC',
 'DOWFACAT',
 'FAC_MON',
 'FAC_TUE',
 'FAC_WED',
 'FAC_THU',
 'FAC_FRI',
 'FAC_SAT',
 'FAC_SUN',
 'FAC_WDAVG',
 'FAC_WEAVG',
 'FAC_WEMAX',
 'CCSGROUP',
 'FAC_JAN',
 'FAC_FEB',
 'FAC_MAR',
 'FAC_APR',
 'FAC_MAY',
 'FAC_JUN',
 'FAC_JUL',
 'FAC_AUG',
 'FAC_SEP',
 'FAC_OCT',
 'FAC_NOV',
 'FAC_DEC',
 'FAC_WIN',
 'FAC_SPR',
 'FAC_SUM',
 'FAC_FAL',
 'FAC_MAXMO',
 'FAC_MAX',
 'FACMANADJ',
 'SUTRUCKS',
 'CUTRUCKS',
 'PLANAREA',
 'Shape_Leng',
 'SHAPE']].copy()
sdfNewForecastsFormatted

,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,X,Y,...,FAC_SUM,FAC_FAL,FAC_MAXMO,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,PLANAREA,Shape_Leng,SHAPE
0,,2599_000.5,2599,0.457,0.845,SIDEWINDER DR,43,SUMMIT,458687.3525,4.501838e+06,...,1.0700,0.9310,1,1.1420,0,0.0230,0.0050,UDOT,620.772768,"{'paths': [[[-12411162.427099999, 4962989.7434..."
1,,1242_002.3,1242,2.305,2.711,1200 E,5,CACHE,433138.4591,4.626175e+06,...,1.0570,1.0220,6,1.0670,0,0.0360,0.0260,Cache,660.291812,"{'paths': [[[-12446035.5269, 5128326.032300003..."
2,,1268_002.0,1268,2.005,2.508,3100 N,5,CACHE,433543.4052,4.626506e+06,...,1.0570,1.0220,6,1.0670,0,0.0360,0.0260,Cache,810.315695,"{'paths': [[[-12444954.14, 5129222.575800002],..."
3,,0023_010.1,0023,10.066,12.574,6000 W,5,CACHE,418412.8807,4.624561e+06,...,1.0880,1.0330,8,1.0920,0,0.0930,0.0700,UDOT,4027.100962,"{'paths': [[[-12465493.5364, 5123717.594800003..."
4,,2599_000.8,2599,0.845,0.940,WYATT EARP WAY,43,SUMMIT,458955.7006,4.501987e+06,...,1.0700,0.9310,1,1.1420,0,0.0230,0.0050,UDOT,146.198014,"{'paths': [[[-12410485.9515, 4963368.133000001..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,2019 RTP v8.3.2 20211023,WFRC_8218,WFRC,0.000,0.000,,35,SALT LAKE,432644.3753,4.506603e+06,...,1.1470,0.9799,7,1.1808,1,0.1392,0.0292,WFRC,0.000000,"{'paths': [[[433362, 4507122.73], [433261.4064..."
4188,2019 RTP v8.3.2 20211023,WFRC_8219,WFRC,0.000,0.000,,11,DAVIS,420451.7462,4.553323e+06,...,1.0575,1.0324,8,1.0724,0,0.1273,0.0870,WFRC,0.000000,"{'paths': [[[419504.53110000025, 4554272.0693]..."
4189,2019 RTP v8.3.2 20211023,WFRC_8220,WFRC,0.000,0.000,AIRPORT RD,35,SALT LAKE,0.0000,0.000000e+00,...,1.0283,1.0243,9,1.0434,0,0.1142,0.0576,WFRC,0.000000,"{'paths': [[[415710.1200000001, 4495585.710000..."
4190,2019 RTP v8.3.2 20211023,0194_002.8,0194,0.000,0.332,2100 N,49,UTAH,426255.9922,4.473932e+06,...,1.0283,1.0243,9,1.0434,0,0.0888,0.0310,MAG,0.000000,"{'paths': [[[426297.9124999996, 4474217.957699..."
4191,2019 RTP v8.3.2 20211023,0241_000.0,0241,0.000,0.300,1600 N,49,UTAH,438227.7250,4.464233e+06,...,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,MAG,0.000000,"{'paths': [[[437826.9299999997, 4464232.99], [..."

In [34]:
sdfNewForecastsFormatted.spatial.to_featureclass(location=os.path.join(dirWebApp, r'layers\Utah Statewide Traffic Volume Historic and Forecast.shp'),sanitize_columns=False)
display(sdfNewForecastsFormatted)

,RELEASE,SEGID,ROUTE_ID,BMP,EMP,FULLNAME,CO_FIPS,CO_NAME,X,Y,...,FAC_SUM,FAC_FAL,FAC_MAXMO,FAC_MAX,FACMANADJ,SUTRUCKS,CUTRUCKS,PLANAREA,Shape_Leng,SHAPE
0,,2599_000.5,2599,0.457,0.845,SIDEWINDER DR,43,SUMMIT,458687.3525,4.501838e+06,...,1.0700,0.9310,1,1.1420,0,0.0230,0.0050,UDOT,620.772768,"{""paths"": [[[-12411162.427099999, 4962989.7434..."
1,,1242_002.3,1242,2.305,2.711,1200 E,5,CACHE,433138.4591,4.626175e+06,...,1.0570,1.0220,6,1.0670,0,0.0360,0.0260,Cache,660.291812,"{""paths"": [[[-12446035.5269, 5128326.032300003..."
2,,1268_002.0,1268,2.005,2.508,3100 N,5,CACHE,433543.4052,4.626506e+06,...,1.0570,1.0220,6,1.0670,0,0.0360,0.0260,Cache,810.315695,"{""paths"": [[[-12444954.14, 5129222.575800002],..."
3,,0023_010.1,0023,10.066,12.574,6000 W,5,CACHE,418412.8807,4.624561e+06,...,1.0880,1.0330,8,1.0920,0,0.0930,0.0700,UDOT,4027.100962,"{""paths"": [[[-12465493.5364, 5123717.594800003..."
4,,2599_000.8,2599,0.845,0.940,WYATT EARP WAY,43,SUMMIT,458955.7006,4.501987e+06,...,1.0700,0.9310,1,1.1420,0,0.0230,0.0050,UDOT,146.198014,"{""paths"": [[[-12410485.9515, 4963368.133000001..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8155,2019 RTP v8.3.2 20211023,WFRC_8218,WFRC,0.000,0.000,,35,SALT LAKE,432644.3753,4.506603e+06,...,1.1470,0.9799,7,1.1808,1,0.1392,0.0292,WFRC,0.000000,"{""paths"": [[[433362, 4507122.73], [433261.4064..."
8156,2019 RTP v8.3.2 20211023,WFRC_8219,WFRC,0.000,0.000,,11,DAVIS,420451.7462,4.553323e+06,...,1.0575,1.0324,8,1.0724,0,0.1273,0.0870,WFRC,0.000000,"{""paths"": [[[419504.53110000025, 4554272.0693]..."
8157,2019 RTP v8.3.2 20211023,WFRC_8220,WFRC,0.000,0.000,AIRPORT RD,35,SALT LAKE,0.0000,0.000000e+00,...,1.0283,1.0243,9,1.0434,0,0.1142,0.0576,WFRC,0.000000,"{""paths"": [[[415710.1200000001, 4495585.710000..."
8158,2019 RTP v8.3.2 20211023,0194_002.8,0194,0.000,0.332,2100 N,49,UTAH,426255.9922,4.473932e+06,...,1.0283,1.0243,9,1.0434,0,0.0888,0.0310,MAG,0.000000,"{""paths"": [[[426297.9124999996, 4474217.957699..."
8159,2019 RTP v8.3.2 20211023,0241_000.0,0241,0.000,0.300,1600 N,49,UTAH,438227.7250,4.464233e+06,...,1.0135,1.0095,5,1.0245,0,0.1097,0.0482,MAG,0.000000,"{""paths"": [[[437826.9299999997, 4464232.99], [..."

# WebApp JSON Data

In [35]:
#format for JSON
dfForecastJSON2024 = sdfNewForecastsFormatted[['SEGID','F2024','CO_FIPS']].copy()
dfForecastJSON2024['YEAR'] = 2024
dfForecastJSON2024.columns = ('S','F','CO_FIPS','Y')
dfForecastJSON2024 = dfForecastJSON2024[['S','Y','F','CO_FIPS']]
display(dfForecastJSON2024)

dfForecastJSON2030 = sdfNewForecastsFormatted[['SEGID','F2030','CO_FIPS']].copy()
dfForecastJSON2030['YEAR'] = 2030
dfForecastJSON2030.columns = ('S','F','CO_FIPS','Y')
dfForecastJSON2030 = dfForecastJSON2030[['S','Y','F','CO_FIPS']]
display(dfForecastJSON2030)

dfForecastJSON2040 = sdfNewForecastsFormatted[['SEGID','F2040','CO_FIPS']].copy()
dfForecastJSON2040['YEAR'] = 2040
dfForecastJSON2040.columns = ('S','F','CO_FIPS','Y')
dfForecastJSON2040 = dfForecastJSON2040[['S','Y','F','CO_FIPS']]
display(dfForecastJSON2040)

dfForecastJSON2050 = sdfNewForecastsFormatted[['SEGID','F2050','CO_FIPS']].copy()
dfForecastJSON2050['YEAR'] = 2050
dfForecastJSON2050.columns = ('S','F','CO_FIPS','Y')
dfForecastJSON2050 = dfForecastJSON2050[['S','Y','F','CO_FIPS']]
display(dfForecastJSON2050)

dfForecastJSON = pd.concat([dfForecastJSON2024,dfForecastJSON2030,dfForecastJSON2040,dfForecastJSON2050])
display(dfForecastJSON)

dfForecastJSON.to_json(os.path.join(dirWebApp, r'forecasts.json'),orient='records')

               S     Y        F  CO_FIPS
0     2599_000.5  2024      0.0       43
1     1242_002.3  2024      0.0        5
2     1268_002.0  2024      0.0        5
3     0023_010.1  2024      0.0        5
4     2599_000.8  2024      0.0       43
...          ...   ...      ...      ...
8155   WFRC_8218  2024      0.0       35
8156   WFRC_8219  2024      0.0       11
8157   WFRC_8220  2024      0.0       35
8158  0194_002.8  2024  25000.0       49
8159  0241_000.0  2024  29500.0       49

[8160 rows x 4 columns]

               S     Y        F  CO_FIPS
0     2599_000.5  2030      0.0       43
1     1242_002.3  2030      0.0        5
2     1268_002.0  2030      0.0        5
3     0023_010.1  2030      0.0        5
4     2599_000.8  2030      0.0       43
...          ...   ...      ...      ...
8155   WFRC_8218  2030      0.0       35
8156   WFRC_8219  2030   6200.0       11
8157   WFRC_8220  2030      0.0       35
8158  0194_002.8  2030  16500.0       49
8159  0241_000.0  2030  31500.0       49

[8160 rows x 4 columns]

               S     Y        F  CO_FIPS
0     2599_000.5  2040      0.0       43
1     1242_002.3  2040      0.0        5
2     1268_002.0  2040      0.0        5
3     0023_010.1  2040      0.0        5
4     2599_000.8  2040      0.0       43
...          ...   ...      ...      ...
8155   WFRC_8218  2040      0.0       35
8156   WFRC_8219  2040   6500.0       11
8157   WFRC_8220  2040      0.0       35
8158  0194_002.8  2040  23000.0       49
8159  0241_000.0  2040  32500.0       49

[8160 rows x 4 columns]

               S     Y        F  CO_FIPS
0     2599_000.5  2050    850.0       43
1     1242_002.3  2050   3100.0        5
2     1268_002.0  2050   3700.0        5
3     0023_010.1  2050   3100.0        5
4     2599_000.8  2050   1200.0       43
...          ...   ...      ...      ...
8155   WFRC_8218  2050      0.0       35
8156   WFRC_8219  2050   6900.0       11
8157   WFRC_8220  2050      0.0       35
8158  0194_002.8  2050  29500.0       49
8159  0241_000.0  2050  36000.0       49

[8160 rows x 4 columns]

               S     Y        F  CO_FIPS
0     2599_000.5  2024      0.0       43
1     1242_002.3  2024      0.0        5
2     1268_002.0  2024      0.0        5
3     0023_010.1  2024      0.0        5
4     2599_000.8  2024      0.0       43
...          ...   ...      ...      ...
8155   WFRC_8218  2050      0.0       35
8156   WFRC_8219  2050   6900.0       11
8157   WFRC_8220  2050      0.0       35
8158  0194_002.8  2050  29500.0       49
8159  0241_000.0  2050  36000.0       49

[32640 rows x 4 columns]

In [36]:
#format for JSON

dfObservedJSON = pd.DataFrame()

for x in range(2000, 2020):
    print('%d' % (x))
    
    dfObservedJSONx = sdfNewForecastsFormatted[['SEGID','AADT' + str(x) ]].copy()
    dfObservedJSONx['YEAR'] = x
    dfObservedJSONx.columns = ('S','O','Y')
    dfObservedJSONx = dfObservedJSONx[['S','Y','O']]
    display(dfObservedJSONx)
    
    dfObservedJSON = pd.concat([dfObservedJSON,dfObservedJSONx])


dfObservedJSON.O = dfObservedJSON.O.astype('int64')
    
display(dfObservedJSON)

dfObservedJSON.to_json(os.path.join(dirWebApp, r'observed.json'),orient='records')

2000

               S     Y        O
0     2599_000.5  2000      0.0
1     1242_002.3  2000      0.0
2     1268_002.0  2000      0.0
3     0023_010.1  2000   1500.0
4     2599_000.8  2000      0.0
...          ...   ...      ...
8155   WFRC_8218  2000      0.0
8156   WFRC_8219  2000      0.0
8157   WFRC_8220  2000      0.0
8158  0194_002.8  2000      0.0
8159  0241_000.0  2000  15020.0

[8160 rows x 3 columns]

2001

               S     Y        O
0     2599_000.5  2001      0.0
1     1242_002.3  2001      0.0
2     1268_002.0  2001      0.0
3     0023_010.1  2001   1500.0
4     2599_000.8  2001      0.0
...          ...   ...      ...
8155   WFRC_8218  2001      0.0
8156   WFRC_8219  2001      0.0
8157   WFRC_8220  2001      0.0
8158  0194_002.8  2001      0.0
8159  0241_000.0  2001  15175.0

[8160 rows x 3 columns]

2002

               S     Y        O
0     2599_000.5  2002      0.0
1     1242_002.3  2002      0.0
2     1268_002.0  2002      0.0
3     0023_010.1  2002   1600.0
4     2599_000.8  2002      0.0
...          ...   ...      ...
8155   WFRC_8218  2002      0.0
8156   WFRC_8219  2002      0.0
8157   WFRC_8220  2002      0.0
8158  0194_002.8  2002      0.0
8159  0241_000.0  2002  16200.0

[8160 rows x 3 columns]

2003

               S     Y        O
0     2599_000.5  2003      0.0
1     1242_002.3  2003      0.0
2     1268_002.0  2003      0.0
3     0023_010.1  2003    970.0
4     2599_000.8  2003      0.0
...          ...   ...      ...
8155   WFRC_8218  2003      0.0
8156   WFRC_8219  2003      0.0
8157   WFRC_8220  2003   4900.0
8158  0194_002.8  2003      0.0
8159  0241_000.0  2003  16200.0

[8160 rows x 3 columns]

2004

               S     Y        O
0     2599_000.5  2004      0.0
1     1242_002.3  2004      0.0
2     1268_002.0  2004      0.0
3     0023_010.1  2004   1500.0
4     2599_000.8  2004      0.0
...          ...   ...      ...
8155   WFRC_8218  2004      0.0
8156   WFRC_8219  2004      0.0
8157   WFRC_8220  2004   4900.0
8158  0194_002.8  2004      0.0
8159  0241_000.0  2004  16300.0

[8160 rows x 3 columns]

2005

               S     Y        O
0     2599_000.5  2005      0.0
1     1242_002.3  2005      0.0
2     1268_002.0  2005      0.0
3     0023_010.1  2005   1500.0
4     2599_000.8  2005      0.0
...          ...   ...      ...
8155   WFRC_8218  2005      0.0
8156   WFRC_8219  2005      0.0
8157   WFRC_8220  2005   4900.0
8158  0194_002.8  2005      0.0
8159  0241_000.0  2005  16250.0

[8160 rows x 3 columns]

2006

               S     Y        O
0     2599_000.5  2006      0.0
1     1242_002.3  2006      0.0
2     1268_002.0  2006      0.0
3     0023_010.1  2006   1700.0
4     2599_000.8  2006      0.0
...          ...   ...      ...
8155   WFRC_8218  2006      0.0
8156   WFRC_8219  2006      0.0
8157   WFRC_8220  2006   5100.0
8158  0194_002.8  2006      0.0
8159  0241_000.0  2006  16970.0

[8160 rows x 3 columns]

2007

               S     Y        O
0     2599_000.5  2007   1000.0
1     1242_002.3  2007   2000.0
2     1268_002.0  2007   1000.0
3     0023_010.1  2007   1700.0
4     2599_000.8  2007    500.0
...          ...   ...      ...
8155   WFRC_8218  2007      0.0
8156   WFRC_8219  2007      0.0
8157   WFRC_8220  2007   8400.0
8158  0194_002.8  2007      0.0
8159  0241_000.0  2007  17210.0

[8160 rows x 3 columns]

2008

               S     Y        O
0     2599_000.5  2008    950.0
1     1242_002.3  2008   1900.0
2     1268_002.0  2008    950.0
3     0023_010.1  2008   1600.0
4     2599_000.8  2008    480.0
...          ...   ...      ...
8155   WFRC_8218  2008      0.0
8156   WFRC_8219  2008      0.0
8157   WFRC_8220  2008   8000.0
8158  0194_002.8  2008      0.0
8159  0241_000.0  2008  16365.0

[8160 rows x 3 columns]

2009

               S     Y        O
0     2599_000.5  2009    950.0
1     1242_002.3  2009   1900.0
2     1268_002.0  2009    950.0
3     0023_010.1  2009   1700.0
4     2599_000.8  2009    480.0
...          ...   ...      ...
8155   WFRC_8218  2009      0.0
8156   WFRC_8219  2009      0.0
8157   WFRC_8220  2009   8000.0
8158  0194_002.8  2009      0.0
8159  0241_000.0  2009  16265.0

[8160 rows x 3 columns]

2010

               S     Y        O
0     2599_000.5  2010    940.0
1     1242_002.3  2010   2600.0
2     1268_002.0  2010    940.0
3     0023_010.1  2010   1700.0
4     2599_000.8  2010    470.0
...          ...   ...      ...
8155   WFRC_8218  2010      0.0
8156   WFRC_8219  2010      0.0
8157   WFRC_8220  2010   7900.0
8158  0194_002.8  2010      0.0
8159  0241_000.0  2010  16200.0

[8160 rows x 3 columns]

2011

               S     Y        O
0     2599_000.5  2011    610.0
1     1242_002.3  2011   2500.0
2     1268_002.0  2011   1400.0
3     0023_010.1  2011    890.0
4     2599_000.8  2011    470.0
...          ...   ...      ...
8155   WFRC_8218  2011      0.0
8156   WFRC_8219  2011      0.0
8157   WFRC_8220  2011   7900.0
8158  0194_002.8  2011  17395.0
8159  0241_000.0  2011  16155.0

[8160 rows x 3 columns]

2012

               S     Y        O
0     2599_000.5  2012    600.0
1     1242_002.3  2012   2500.0
2     1268_002.0  2012    440.0
3     0023_010.1  2012   1200.0
4     2599_000.8  2012    730.0
...          ...   ...      ...
8155   WFRC_8218  2012      0.0
8156   WFRC_8219  2012      0.0
8157   WFRC_8220  2012   7800.0
8158  0194_002.8  2012  17345.0
8159  0241_000.0  2012  15830.0

[8160 rows x 3 columns]

2013

               S     Y        O
0     2599_000.5  2013    580.0
1     1242_002.3  2013   2400.0
2     1268_002.0  2013    430.0
3     0023_010.1  2013   1200.0
4     2599_000.8  2013    710.0
...          ...   ...      ...
8155   WFRC_8218  2013      0.0
8156   WFRC_8219  2013      0.0
8157   WFRC_8220  2013   7600.0
8158  0194_002.8  2013  17795.0
8159  0241_000.0  2013  15435.0

[8160 rows x 3 columns]

2014

               S     Y        O
0     2599_000.5  2014    590.0
1     1242_002.3  2014   2500.0
2     1268_002.0  2014    440.0
3     0023_010.1  2014   1300.0
4     2599_000.8  2014    720.0
...          ...   ...      ...
8155   WFRC_8218  2014      0.0
8156   WFRC_8219  2014      0.0
8157   WFRC_8220  2014   7600.0
8158  0194_002.8  2014  18580.0
8159  0241_000.0  2014  15605.0

[8160 rows x 3 columns]

2015

               S     Y        O
0     2599_000.5  2015    615.0
1     1242_002.3  2015   2560.0
2     1268_002.0  2015    450.0
3     0023_010.1  2015   1190.0
4     2599_000.8  2015    850.0
...          ...   ...      ...
8155   WFRC_8218  2015      0.0
8156   WFRC_8219  2015      0.0
8157   WFRC_8220  2015  15375.0
8158  0194_002.8  2015  19490.0
8159  0241_000.0  2015  16275.0

[8160 rows x 3 columns]

2016

               S     Y        O
0     2599_000.5  2016    645.0
1     1242_002.3  2016   2696.0
2     1268_002.0  2016    476.0
3     0023_010.1  2016   1248.0
4     2599_000.8  2016    897.0
...          ...   ...      ...
8155   WFRC_8218  2016      0.0
8156   WFRC_8219  2016      0.0
8157   WFRC_8220  2016  16191.0
8158  0194_002.8  2016  20347.0
8159  0241_000.0  2016  17138.0

[8160 rows x 3 columns]

2017

               S     Y        O
0     2599_000.5  2017    660.0
1     1242_002.3  2017   2800.0
2     1268_002.0  2017    590.0
3     0023_010.1  2017   1300.0
4     2599_000.8  2017    920.0
...          ...   ...      ...
8155   WFRC_8218  2017      0.0
8156   WFRC_8219  2017      0.0
8157   WFRC_8220  2017  17000.0
8158  0194_002.8  2017  20896.0
8159  0241_000.0  2017  17601.0

[8160 rows x 3 columns]

2018

               S     Y        O
0     2599_000.5  2018    669.0
1     1242_002.3  2018   2797.0
2     1268_002.0  2018    594.0
3     0023_010.1  2018   1331.0
4     2599_000.8  2018    930.0
...          ...   ...      ...
8155   WFRC_8218  2018      0.0
8156   WFRC_8219  2018      0.0
8157   WFRC_8220  2018      0.0
8158  0194_002.8  2018  21168.0
8159  0241_000.0  2018  17777.0

[8160 rows x 3 columns]

2019

               S     Y        O
0     2599_000.5  2019    681.0
1     1242_002.3  2019   2847.0
2     1268_002.0  2019    605.0
3     0023_010.1  2019   1347.0
4     2599_000.8  2019    947.0
...          ...   ...      ...
8155   WFRC_8218  2019      0.0
8156   WFRC_8219  2019      0.0
8157   WFRC_8220  2019      0.0
8158  0194_002.8  2019  21380.0
8159  0241_000.0  2019  18097.0

[8160 rows x 3 columns]

               S     Y      O
0     2599_000.5  2000      0
1     1242_002.3  2000      0
2     1268_002.0  2000      0
3     0023_010.1  2000   1500
4     2599_000.8  2000      0
...          ...   ...    ...
8155   WFRC_8218  2019      0
8156   WFRC_8219  2019      0
8157   WFRC_8220  2019      0
8158  0194_002.8  2019  21380
8159  0241_000.0  2019  18097

[163200 rows x 3 columns]